
.home-page{
    background-image: linear-gradient(to top, #d16ba5, #c36fa4, #b573a1, #a7759d, #9b7797, #957194, #8f6b92, #886590, #835794, #7a4998, #6f3c9e, #602fa4);

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
    padding: 40px;
}

h1,
h2,
h3,
p {
    font-family: 'Great Vibes', cursive;
    color: #fff;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #181f1b;
    text-decoration: none;
}
.booknowBtn {
    text-align: center;
}



button, .booknowBtn a {
    background-color: #f50057;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover, .booknowBtn a:hover {
    background-color: #061a12;
}

.about-page{
    background-image: linear-gradient(to bottom, #e32f95, #bd44a1, #964fa2, #72559a, #55558a, #3f4f7a, #304867, #284054, #1b3441, #13282f, #0d1c1f, #010e0f);
}

 .aboutParagraph {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: aliceblue;

 }

.hero,
.tabs,
.gallery,
.contact {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}
.tabs{
    margin-top: 0;
}
.tablink {
    margin: 5px;
    background: #ba68c8;
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#slide {
    width: 100%;
    border-radius: 20px;
}

.feedback {
    color: red;
    font-weight: bold;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-page{
    background-image: linear-gradient(to bottom, #d16ba5, #b168a5, #92659f, #746094, #5a5a85, #52648e, #4b6e95, #44779a, #3f97b9, #3bb8d2, #42d9e5, #5ffbf1);
}

.contactForm {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#bookingForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    width: 100%;
}

#bookingForm label {
    font-weight: bold;
    margin-bottom: 5px;
}

#bookingForm input,
#bookingForm textarea,
#bookingForm button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#bookingForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#bookingForm button:hover {
    background-color: #0d1a1b;
}
footer{
    text-align: center;
    color: #fff;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}